.container{
    background-color: #EBE9E9;
    max-width: 100%;
}

.col-3{
    max-width: 20%;
}

.col-3, .accordion-flush, .accordion-button{
    background-color: #2492B1;
    color: white;
    font-weight: 100px;
}

.accordion-collapse{
    max-width: 100%;
}

.card{
    background-color:#EBE9E9;
}

.col-10 h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700px;
}

.accordion-header{
    color: #FFFFFF;
}

.accordion-item, .accordion-body, .accordion{
    background-color: #2492B1;
}
.collapseOne{
    background-color: #2492B1;
}

.accordion .accordion-item{
    background-color: #2492B1;
}
h2 .botton .accordion-button{
    background-color: #2492B1;
    color: #FFFFFF;
}

.accordion-collapse .collapse .show{
    background-color: #2492B1;
}

.accordion-button-active-color{
    background-color: #2492B1;
}
.accordion-border-color{
    background-color: #2492B1;
}


/*
--#{$prefix}accordion-color: #{$accordion-color};
--#{$prefix}accordion-bg: #{$accordion-bg};
--#{$prefix}accordion-transition: #{$accordion-transition};
--#{$prefix}accordion-border-color: #{$accordion-border-color};
--#{$prefix}accordion-border-width: #{$accordion-border-width};
--#{$prefix}accordion-border-radius: #{$accordion-border-radius};
--#{$prefix}accordion-inner-border-radius: #{$accordion-inner-border-radius};
--#{$prefix}accordion-btn-padding-x: #{$accordion-button-padding-x};
--#{$prefix}accordion-btn-padding-y: #{$accordion-button-padding-y};
--#{$prefix}accordion-btn-color: #{$accordion-button-color};
--#{$prefix}accordion-btn-bg: #{$accordion-button-bg};
--#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
--#{$prefix}accordion-btn-icon-width: #{$accordion-icon-width};
--#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};
--#{$prefix}accordion-btn-icon-transition: #{$accordion-icon-transition};
--#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
--#{$prefix}accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
--#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
--#{$prefix}accordion-body-padding-x: #{$accordion-body-padding-x};
--#{$prefix}accordion-body-padding-y: #{$accordion-body-padding-y};
--#{$prefix}accordion-active-color: #{$accordion-button-active-color};
--#{$prefix}accordion-active-bg: #{$accordion-button-active-bg};

*/