  
  /* middle part*/
  .alumni-profile-overview-header{
    background-color: rgba(159, 218, 233, 0.65);
  }
  
  
  .btn.btn-social-icon{
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #0082ca;
  }

  .blue{
    background-color: #0082ca; 
  }

.container{
    background-color: #EBE9E9;
    max-width: 100%;
}


.col-3{
    padding-right: 0px;
}

.col-3, .accordion-flush, .accordion-button{
    background-color: #2492B1;
    color: white;
    font-weight: 100px;
}

.accordion-collapse > .accordion-body{
    max-width: 100%;
    background-color: #2492B1;
}

.card{
    background-color:#EBE9E9;
}

.redi{
    color:#EA5B25;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;    
}

.card-body .btn-social-icon, .btn-link{
    margin-top: -5px;
}

.card-body .redi{
    margin-top: 20px;
}

.col-10 h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700px;
}

.accordion-header{
    color: #FFFFFF;
}

.accordion-item, .accordion-body, .accordion{
    background-color: #2492B1;
}
.collapseOne{
    background-color: #2492B1;
}

.accordion .accordion-item{
    background-color: #2492B1;
}
h2 .botton .accordion-button{
    background-color: #2492B1;
    color: #FFFFFF;
}

.accordion-collapse .collapse .show{
    background-color: #2492B1;
}

.accordion-button-active-color{
    background-color: #2492B1;
}
.accordion-border-color{
    background-color: #2492B1;
}


