title {
    text-align: left;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #585858;  
    height:50px;  
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 16px;    
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 22px;
    font-weight: bold;
    color: rgb(6, 188, 208);
    background-color: white;
    line-height: 50px;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #c41a1a;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #f15a22;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
    margin-right: 80px;
    height: 100%;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    .header-wrapper {
      width: 100%;
    }
    .header a {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
    }
    .header-right {
      float: none;
      width: 100%;
    }
  }

/*===== For Footer =====*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
main {
  flex-grow: 1;
}

footer {
  margin-top: auto;
  background-color:  #D9D9D9;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 40px;
}

.footer-wrapper-left{
  padding-left: 20px;
}

.footer-wrapper-left a, p{
  color: #6C6A6E;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word
}

.footer-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    color: #6C6A6E;
    font-family: 'Poppins';
    font-size: 24px;
}

.copyright{
  text-align: center;
  color: #525356;
  font-size: 12px;
}

.footer-social-row img{
  padding: 6px;
  max-width: 100%;
}

@media only screen and (min-width: 835px){
    .footer-wrapper {
      flex-direction: row;
    }

    .footer-wrapper-left {
      flex-basis: 30%;
    }

    .footer-wrapper-right {
      margin-bottom: 0;
      flex-basis: 60%
    }
}



.row {
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 80px;
  font-size: 16px;
  font-weight: bold;
  text-indent: 20px;
  height: 600px;
  margin-bottom: 8px;
}

.filter {
  width: 20%;
  background-color: whitesmoke;
  margin-right: 33px;
}

.alumnitable {
  width: 80%;
  background-color: #f6b8a1
}