

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* FOOTER */
footer {
  max-width: 100%;
  margin-top: auto;
  padding: 0;
  bottom: 0; /* Keep only one 'bottom' property */
  background-color: #D9D9D9;
  justify-content: space-between;

}

.wrap{
  margin-top: 10px;
  display: contents;
}

.wrap a, 
.wrap p,
.wrap h3 {
  font-family: "Poppins";
}

 
.contact-part {
  width: 100%;
  height: 200px;
  float: left;
  color: #6C6A6E;
  text-align: center;  
  margin-top: 70px;
}

.contact-part .mail a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 600;
}

.contact-part p{
  font-size: 20px;
  font-weight: 600;
}

.contact-part h3{
  font-size: 30px;
  font-weight: 700;
  word-wrap: break-word
} 

.policies-part{
  width: 100%;
  height: 200px;
  float: left;
  color: #525356;
  text-align: left;
  padding-left: 50px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}

.policies-part ul{
  list-style: none;
}

.policies {
  padding-top: 40px;
}

.policies-part a{
  text-decoration: none;
  color: inherit;
}

.social-part {
  display: flexbox;
  width: 100%;
  min-height: 200px;
  float: left;
  color: #525356;
  text-align: center;  
  margin-top: 90px;
}

.social-part a {
  margin: 5px; 
  text-decoration: none;
}

.button-div{
  
  width: 100%;
  justify-content: space-between;
  
}

.social-part a img {
  width: 52px; /* Set the width of the icons */
  height: 52px; /* Set the height of the icons */
  margin-right: 2px;
  margin-left: 2px;
}

.copyright {
  font-size: 14px; 
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}



/*RESPONSIVENESS*/

@media only screen and (min-width: 768px) {
  .wrap {
    width: 100%;
  }

  #main-content {
    max-width: 50%;
    float: left;
  }

  #left-sidebar {
    max-width: 25%;
    float: left;
  }

  #right-sidebar {
    max-width: 25%;
    float: left;
  }
}


@media only screen and (max-width: 769px) {
  footer{
    display: flex;
    flex-direction: column-reverse;
  }

  .wrap {
    width: 100%;
  }

  .policies-part{
    padding: 0;
    font-size: 22px;
    font-weight: 300;
  }
  
  ul li{
    padding-top: 5px;
  }
 

  #right-sidebar {
    max-width: 100%;
    float: center;
    margin-right: 0;
  }

  #main-content {
    max-width: 100%;
    float: center;
  }

  .social-part a img {
    width: 82px;
    height: 82px;
    padding: 4px;
  }

  .button-div{
    margin-bottom: 30px;
    
  }

  #left-sidebar {
    max-width: 100%;
    float: center;
    text-align: center;
    margin-right: 0px;
  } 

  .contact-part h3{
    font-size: 36px;
    word-wrap: break-word;
  }

  .contact-part p{
    font-size: 21px;
  }

  .contact-part .mail a{
    font-size: 20px;
  }

  .copyright{
    font-size: 16px;
  }
}

@media only screen and (max-width: 503px) {

 

  .social-part a img {
    width: 63px;
    height: 63px;
  }

  .copyright{
    font-size: 13px;
  }

  .policies-part{
    padding: 0;
    font-size: 21px;
    font-weight: 300;
  }
  
  ul li{
    padding-top: 10px;
  }
}