body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0%;
}

/* middle part*/

main {
  flex-grow: 1;
  background-color: #EBE9E9;
}
 .container{
  flex-direction: row;
  width: 100%;
  float: left;
  bottom: 0;
  margin: 0;
  padding: 0;
 }

.filter{
  box-sizing: border-box;
  background-color: #2492B1;
  flex-direction: row;
  width: 20%;
  height: 500px;
  float: left;
  display: flex;
}

.alumniprofile{
  
  background-color: #9FDAE9;
  width: 70%;
  height: 50px;
  flex-direction: row;
  float: left;
  box-sizing: border-box;

}

.sort{
  background-color: #9FDAE9;
  width: 10%;
  height: 50px;
  flex-direction: row;
  float: right;
  box-sizing: border-box;
}

.alumnilist {
  height: 600px;
  width: 80%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

/*===== For Footer =====*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}


.footer-left{
    box-sizing: border-box;
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%; /* The width is 20%, by default */
    height:200px;  
}

.footer-middle{
  box-sizing: border-box;
  background-color: #f1f1f1;
  padding: 20px;
  float: left;
  width: 60%; /* The width is 60%, by default */
  height:200px;
  
}

.footer-middle p{
  margin-top: auto;
}

.footer-middle p, img{
  margin: 5px;
}

.footer-middle-images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer-middle-text{
  text-align: center;
}

.footer-right {
  box-sizing: border-box;
  background-color: whitesmoke;  
  float: left;
  width: 20%; /* The width is 20%, by default */ 
  height: 200px; 
}

@media screen and (max-width: 834px) {
  .footer-left, .footer-middle, .footer-right {
    width: 100%; /* The width is 100%, when the viewport is 834px or smaller */
  }

  .footer-left{
    align-items: center;
  }
}



