* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";


}

body.no-scroll {
  overflow: hidden;
}

/* Add Alumni title */

.container-form-title {
  background-color: #9FDAE9;
  width: 100%;
  font-size: 25px;
  padding: 12px;
  padding-left: 35px;
  /* Ajusta según sea necesario */
  box-sizing: border-box;
  color: #777b87;
}

.orange-text {
  color: #EA5B25;
  /* Código de color naranja */
}


/* MAIN container form */

.container-form {
  background-color: #2F8BA4;
  width: 100%;
}


/* INNER container form */

.inner-containerform {

  background-color: #E9E8E8;
  display: flex;

}


/* LEFT INNER container form */
.inner-left {

  box-sizing: border-box;
  background-color: #E9E8E8;
  width: 20%;
  float: left;
  display: block;

}

.accordionForm {
  background-color: #5E616A;
  color: #dedede;
  cursor: pointer;
  padding: 20px;
  padding-left: 40px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  font-family: 'Poppins';
}

.accordionForm.active,
.accordionForm:hover {
  background-color: #777b87;
}

.accordionForm:after {
  content: '\002B';
  color: #c4c3c3;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  margin-right: 20px;
}

.accordionForm.active:after {
  content: "\2212";
  color: #c4c3c3;
}

.panel {
  font-size: 13px;
  padding: 0px 18px 0px 40px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  line-height: 28px;
  color: #575757;
}


.panel a {
  color: #575757;

  text-decoration: none;

}

.panel a:hover {
  text-decoration: underline;

}


/* RIGHT INNER container form */
.inner-right {

  background-color: #2F8BA4;
  text-align: center;
  color: #ffff;
  padding-top: 20px;
  width: 80%;
  float: right;
  box-sizing: border-box;
  padding-bottom: 80px;

}


#form-addalumni {

  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  background-color: #D9D9D9;
  border-radius: 10px;
  border: 4px solid #D9D9D9;
  margin-top: 20px;

}


.form-center-container1list {


  color: #0b132a;
  float: none;
  text-align: left;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  width: 60%;
  box-sizing: border-box;

}

.form-center-container1list label {
  display: block;
  margin-bottom: 0px;
}

.form-center-container1list input,
.form-center-container1list textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
}


.form-center-container2list label {
  display: block;
  margin-bottom: 8px;
}


.linkedin-icon-form {
  width: 22px;
  height: 22px;
  margin-right: 3px;

}


.form-center-container2list {

  float: none;
  text-align: right;
  width: 35%;
  box-sizing: border-box;
  padding-right: 35px;
  color: #0b132a;

}



.avatar-form {
  width: 100%;
  max-width: 250px;
  height: auto;
  background-color: #ffff;
  border: 2px solid #f7f6f6;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 50px;


}

.avatar-form img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#upload-photo {
  display: none;

}

#avatar-label {
  cursor: pointer;

}


#avatar-label:hover {

  background-color: none;
}



.skills-form {

  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;


}


.skills-form input {
  width: 100%;
  max-width: 250px;
  padding: 20px;


}

.skills-form textarea {
  width: 100%;
  max-width: 400px;
  padding: 15px;

}


/* Apply rounded borders to text boxes, text area and file upload */
.form-center-container1list input,
.form-center-container1list textarea,
.form-center-container1list #resume,
.form-center-container1list #linkedin {
  border-radius: 6px;

}

.form-center-container2list input,
.form-center-container2list #upload-photo,
.form-center-container2list #skills {
  border-radius: 8px;

}


#saveAndContinueBtn {
  background-color: #EA5B25;
  color: white;
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

#saveAndContinueBtn:hover {
  opacity: 0.9;
  cursor: pointer;
}



@media screen and (max-width: 952px) {

  .inner-left,
  .inner-right {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    /* The width is 100%, when the viewport is 952px or smaller */
  }

  .inner-left {
    align-items: center;
  }


  #form-addalumni {

    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #54ADC5;
    font-size: 14px;
    border: none;
    border-radius: 0;
  }

  .form-center-container1list,
  .form-center-container2list {
    background: none;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 20px;
  }

  .avatar-form {
    width: 20%;
    height: auto;
    width: 110px;
    background-color: #ffff;
    margin-top: 0px;
    float: left;



  }

  .form-center-container2list {

    padding-top: 0px;
    padding-left: 30px;


  }


  .skills-form {
    margin-top: 0px;
    width: 60%;
    display: flex;
    float: right;


  }


  #saveAndContinueBtn {

    float: center;
    margin-top: 20px;
    margin-right: 0px;


  }
}
/*
/* FOOTER */
footer {
  max-width: 100%;
  margin-top: auto;
  padding: 0;
  bottom: 0; /* Keep only one 'bottom' property */
  background-color: #D9D9D9;
  justify-content: space-between;

}

.wrap{
  margin-top: 10px;
  display: contents;
}

.wrap a, 
.wrap p,
.wrap h3 {
  font-family: "Poppins";
}

 
.contact-part {
  width: 100%;
  height: 200px;
  float: left;
  color: #6C6A6E;
  text-align: center;  
  margin-top: 70px;
}

.contact-part .mail a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 600;
}

.contact-part p{
  font-size: 20px;
  font-weight: 600;
}

.contact-part h3{
  font-size: 30px;
  font-weight: 700;
  word-wrap: break-word
} 

.policies-part{
  width: 100%;
  height: 200px;
  float: left;
  color: #525356;
  text-align: left;
  padding-left: 50px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
}

.policies-part ul{
  list-style: none;
}

.policies li {
  padding-top: 40px;
}

.policies-part a{
  text-decoration: none;
  color: inherit;
}

.social-part {
  display: flexbox;
  width: 100%;
  min-height: 200px;
  float: left;
  color: #525356;
  text-align: center;  
  margin-top: 90px;
}

.social-part a {
  margin: 5px; 
  text-decoration: none;
}

.button-div{
  
  width: 100%;
  justify-content: space-between;
  
}

.social-part a img {
  width: 52px; /* Set the width of the icons */
  height: 52px; /* Set the height of the icons */
  margin-right: 2px;
  margin-left: 2px;
}

.copyright {
  font-size: 14px; 
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}



/*RESPONSIVENESS*/

@media only screen and (min-width: 768px) {
  .wrap {
    width: 100%;
  }

  #main-content {
    max-width: 45%;
    float: left;
  }

  #left-sidebar {
    max-width: 25%;
    float: left;
  }

  #right-sidebar {
    max-width: 25%;
    float: left;
  }
}


@media only screen and (max-width: 769px) {
  footer{
    display: flex;
    flex-direction: column-reverse;
  }

  .wrap {
    width: 100%;
  }

  .policies-part{
    padding: 0;
    font-size: 22px;
    font-weight: 300;
  }
  
  .policies li{
    padding-top: 5px;
  }
 

  #right-sidebar {
    max-width: 100%;
    float: center;
    margin-right: 0;
  }

  #main-content {
    max-width: 100%;
    float: center;
  }

  .social-part a img {
    width: 82px;
    height: 82px;
    padding: 4px;
  }

  .button-div{
    margin-bottom: 30px;
    
  }

  #left-sidebar {
    max-width: 100%;
    float: center;
    text-align: center;
    margin-right: 0px;
  } 

  .contact-part h3{
    font-size: 36px;
    word-wrap: break-word;
  }

  .contact-part p{
    font-size: 21px;
  }

  .contact-part .mail a{
    font-size: 20px;
  }

  .copyright{
    font-size: 16px;
  }
}

@media only screen and (max-width: 503px) {

 

  .social-part a img {
    width: 63px;
    height: 63px;
  }

  .copyright{
    font-size: 13px;
  }

  .policies-part{
    padding: 0;
    font-size: 21px;
    font-weight: 300;
  }
  
  ul li{
    padding-top: 10px;
  }
}




