* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
}
.navbar-brand {
  position: absolute;
  padding: 20px 50px;
}
.logo {
  height: 40px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #000000;
  font-size: 16px;
  font-family: Avenir;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: underline;
}
li a.active,
li a:hover {
  text-decoration: underline;
  transition: 0.5s;
  color: #6c6a6e;
}

.checkbtn {
  font-size: 30px;
  color: #000000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
section {
  background: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px) {
  .navbar-brand {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 90vh;
    background-color: #2492b1;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 10px;
  }
  nav ul li a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }
  li a:hover,
  li a.active {
    background: none;
    color: #ffffff;
    text-decoration: underline;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.intro {
  background: linear-gradient(
      to left,
      rgba(0, 0, 144, 0.1),
      rgba(95, 196, 239, 0.1)
    ),
    url("images/banner-intro.jpg") no-repeat;
  background-size: cover;
  font-family: Avenir;
  background-position: center center;
  height: calc(70vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro .row h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin: 0 1.5rem;
}

.intro .row-button {
  display: block;
  margin: 20px auto;
  color: #ffffff;
  background-color: #e96b1d;
  font-size: 18px;
  font-family: Avenir;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.08);
}

.row-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
